
#localVideo {
	height: 250px;
	background-color: pink;
}

#remoteVideos video {
	max-height: 250px;
	background-color: yellow;
}

#text-chat {
	height: 200px;
	background-color: grey;
	overflow-y: scroll;
}

.App {
  text-align: center;
}
