:root {
  --pinky: #D12063;
}


body {
  margin: 0;
	font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*img {
  vertical-align: middle;
  margin: 5px;
  border-radius: 5px;
}*/

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  margin: 5px;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 5vmin;
}

.App-header {
  /*background-color: #282c34;*/
  /*background-color: #0D5527;*/
  background-image: linear-gradient(-90deg, #0D5527, #282c34);
  padding: 5px 0;
  /*min-height: 100vh;*/
  display: flex;
  /*flex-direction: column;*/
  align-items: center;
  /*justify-content: flex-end;*/
  font-size: calc(10px + 2vmin);
  /*color: white;*/
}

.App-header a {
	text-decoration: none;
	color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
